h1, h2 {
    font-family: 'Lobster';
    color: rgb(50,76,50);
}

p {
    font-family: 'Roboto';
}

.image-wrapper {
    width: 250px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.image-wrapper img:hover {
    transform: scale(1.1);
    filter: brightness(0.75)
}

#show-village {
    color: rgb(50,136,50);
    border: none;
    transition-duration: 0.2s;
    background-color: inherit;
}

#show-village:hover {
    color: rgb(50, 156, 50)
}

#village-map-href {
    display: block;
    width: 275px;
    background-color: red;
    border-radius: 9px;
    margin-inline: auto;
}

#village-map {
    width: 275px;
    margin-top: 2rem;
}

@media only screen and (max-width: 576px) {
    #images-wrapper {
        flex-direction: column;
    }

    #images-wrapper .image-wrapper {
        width: 200px;
    }

    #basic-info {
        flex-direction: column;
    }

    #village-map-href {
        margin-left: -2rem;
    }
}

@media only screen and (max-width: 400px) {
    #village-map-href {
        width: 245px;
        margin-left: -2.5rem;
    }

    #village-map {
        width: 245px;
    }
}

@media only screen and (max-width: 310px) {
    #village-map-href {
        margin-left: -4rem;
    }
}